<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Choose</title>
    <style>
        html {
            background: url("https://lh3.googleusercontent.com/lvoRMN2jDOaoz9TA0zDWZTvbm5EH_Uz1CzqQqaAC6ogv_2t-j-8zsb1OGVaoVtwf-IgiAVTC8W1Sqop-Aq2zpKOBf6ptAfzsw_j6wfIKz8HKfZzIGSYswmHSYO-ralL5V9wP_YNuVZ6xOz_Yy6YYF1vwGVgDTQmxMpNUYPR0nZXCGC-xj1lhJfeeYkW7zVoUb1VpwbFa0dkpffuCJcTz2ZjrJgvFyhXHuDCrSk_LZ2CgCB5s3ZUP-BpBGNU3ibJ7RMJHzJ2YmZLQxnmdK-OPCyLaBlm5UgojrIZMRHwBQvioCrg8vRqdkg0oOiZaW3SRUxikVMdF2KKiHZZ3vGkOu5kSEjsg93TxJ5E-3mPIhAYcxYU3lGlwDHsjCDM1pK-dfCc7sOm9y7EuLx65HubXMH2roaC4KF2pT8REwK4p0e2sfVSARLa-cDdkSBuLAPloJe3VsSt7U9W-MGXPjVT-T7FhZ7EO8ER86y7tsl-DYdfUnq5s2cApPM7Y6uQsUMrDIbXmVYqmcOtVa-OL2-CGMuCuCIWPguZ0VPMD_h-4hELl7RiKmY0zOvlLIRqSZU060EOKEpb-ygcQnkuIlLfbEEsdyJKOa5VZa7ScO-SWhVFomu1IzcOYaIRt9Uypvt1uHXhAzFv611zsoho08BiUqC0sqC-FIu6VMgJPeeOZFutO9jqXN6bw_5y6_VvsMIxET6YKg6pXPgBCGi8UisgfkuxMHd8ZL-W7-7wg_zd8p_kImSRBxAI=w1683-h943-no?authuser=0") no-repeat center;
            background-size: cover;
            width: 100%;
            background-blend-mode: overlay;
        }
        .cinema{
            margin-top: 100px;
            margin-left: 70px;
            width: 400px;
            padding-top: 25px;
            padding-bottom: 25px;
            border-radius: 40px;
            background: white;
            text-align: center;
        }
        .game{
            margin-top: 200px;
            margin-left: 70px;
            width: 400px;
            padding-top: 25px;
            padding-bottom: 25px;
            border-radius: 40px;
            background: white;
            text-align: center;
        }
        .music{
            margin-top: 200px;
            margin-left: 70px;
            margin-bottom: 100px;
            width: 400px;
            padding-top: 25px;
            padding-bottom: 25px;
            border-radius: 40px;
            background: white;
            text-align: center;
        }
    </style>
</head>
<body>