<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
    <style>
        html {
            background: url("https://lh3.googleusercontent.com/rUpVmgug5MINw4EzyGx_bLtMmyBcIdM958dYR2dvM2W4-YZgiwsXIX4_lRiC3U83HDaWvcFxJ116C9haMZdlOLZcBetsz0tShjr8X9YoybqMVuRA97BAjnI5CrlcROCjAmoZlsTChXq2hG-9zKpqBCphSPr9c3n8pmE3RwZIEo0ZEDWKttHxl3K6jCvD0JzYK8beUF-n3pBfvJ9brPSDow-x74JtIEAWdKYHLNtMiL7Ubvp6cpWH6eVWsdzw8nh5k4DNclqGTCIndnzk48qduJ5j28s29DPn-6WJQmUzacMC_bw3wryo4uEDScbgZ1W2QRAnhprwZ2PevueFOhUTiQ3q8_jGZsxZumDS8QVOoxqJxtkhQ6x04Q-AFO3tlPV5olLl6y72B-1kdSR9i24Dx5ZT8Yr5mzXtd62SOv_nksP69OpjtiimRb44nFg56NYHJ_hGMof8LwdKYdGRGP2fCai_NizSELoPqmc4gEwWQExxp4JYwXXzvccxCW26kG-8Gkrrv60nCq6lyFIpn9aCRbEAn1J6cH_nbgCEg-bTxT4pM_lMRgt5jWZo_WHI-vkwON0AXhmDWQ_yciW88F3Cu19yEgdIS4T3HyDDKkMsMiyw9JPXjTT-cRpDDqX45LSRYBp6RwHQL5PMJ-wR4RMxtOclSA4s-Az3FJAuqUmNyUX9UolGovxvCo8e21VNioa_0P_yoVEqxUE39o4Ee0enuH7bYhxw_4dY338luM1ZWjKmAaMp6fg=w1683-h943-no?authuser=0");
        }
        .choose {
            margin-top: 100px;
            margin-left: 70px;
            width: 400px;
            padding-top: 25px;
            padding-bottom: 25px;
            border-radius: 40px;
            background: white;
            text-align: center;
            font-family: "Baskerville Old Face";
            font-size: x-large;
        }
        .fan{
            display: block;
            margin-top: 30px;
            margin-left: 530px;
            width: 150px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 10px;
            background: white;
            text-align: center;
        }
        .me{
            border-radius: 8px;
            width: 180px;
            height: 50px;
            margin-left: 530px;
            background-color: red;
            color: #ffffff;
        }
    </style>
</head>
<body>