<%- include('partials/headerChoose') %>
<div class="cinema">
    <a href="/cinema" name="acc" class="btn btn-dark btn-m">Cinema page</a>
</div>
<div class="game">
    <a href="/games" name="acc" class="btn btn-dark btn-m">Game page</a>
</div>
<div class="music">
    <a href="/music" name="acc" class="btn btn-dark btn-m">Music page</a>
</div>

<%- include('partials/footer') %>