<%- include('partials/header') %>
<div class="col-md-4 col-md-offset-4">
<div class="form-group">
<form action="/music" method="post">
    <br>
    <span>Choose the genre </span>
    <input type="radio" id="contactChoice5"
           name="currency" value="Pop">
    <label for="contactChoice5">Pop</label>

    <input type="radio" id="contactChoice6"
           name="currency" value="Jazz">
    <label for="contactChoice6">Jazz</label>

    <input type="radio" id="contactChoice7"
           name="currency" value="Rock">
    <label for="contactChoice7">Rock</label>
    <input type="radio" id="contactChoice8"
           name="currency" value="Indie">
    <label for="contactChoice8">Indie</label>
    <button name="btn">press me</button>
</form>
</div>
</div>
<%- include('partials/footer') %>